body * {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("../img/cool-background.png");
    background-size: cover;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}
#ZoneContact{
    width: 1024px;
    height: 768px;

    background-color: rgb(219, 219, 219);
}
img{
    width: 50px;
    height: 50px;
    position: absolute;
}
#user{
    left: 300px;
    top: 300px;

}
.Contacts{
    position: absolute;
    
}

#openLogin{
    border: 1px black solid;
    height: 20px;
    width: 35px;
    background-color: white;
    margin-left: 10px;
}

#openLogin:hover{
    cursor: pointer;
}

#sectionLogin{
    display: none;
    align-self: center;
    width: 20%;
    height: 40%;
    margin-left: 40%;
    background-color: rgb(67, 180, 174);
    border-radius: 12px;
    box-shadow: 20px 10px 5px rgb(83, 73, 73);
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: none;
}
form {
    height: 100%;
}

.loginElement{
    width: 30%;
    align-self: center;

}

#username, #password{
    margin-bottom: 24%;
}
